/* background superman image and heading: */
.backgroundImageSuperman {
  background-image: url('./pictures/Screenshot\ 2024-03-10\ 000527.png');
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.spanCryptonite {
  color: rgb(59 255 0);
  font-weight: 600;
}
/* navbar */
#cryptoniteHeading {
  margin-right: 7px;
}
.custom-dropdown-item:active {
  background-color: green !important;
}

/* toggle button */
.favoriteBtnDiv {
  margin-left: 180px;
}
.favoriteBtn:checked {
  background-color: green !important;
}

.favoriteBtn {
  box-shadow: none !important;
  border: none !important;
}

.favoriteBtn:active {
  background-color: green !important;
}
